body {
    background: rgb(0 85 66 / 0.84);
    font-family: "Noto Sans", sans-serif;
}

.app {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form {
    display: flex;
    font-size: 22px;
    gap: 10px;

    input {
        font-size: 22px;
    }
    button {
        font-size: 18px;
        padding: 5px;
    }
}

.game-card-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 80rem;
    text-align: center;
}

.game-card {
    color: white;

    background-color: black;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    transition: 200ms ease;
    width: 220px;
    height: 350px;


    &:hover {
        transition: 200ms ease;
        scale: 1.01;
        box-shadow: 0 0 1.875rem 0.0625rem #404040;
        transform: translateY(-2px);
    }
}

.game-card-title {
    width: 90%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-card-image {
    height: 300px;
    width: 200px;
    margin-top: 5px;
    border-radius: 10px;
}


/*----------------Images View----------*/

.image-view {
    text-align: center;
    background-color: #434343;
    border-radius: 10px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.images-view-image {
    border-radius: 20px;
    transition: 200ms ease;
    cursor: pointer;

    &.images-view-image-grids {
        height: 300px;
        width: 200px;
    }

    &.images-view-image-heroes {
        height: 155px;
        width: 455px;
    }

    &.images-view-image-icons {
        height: 64px;
        width: 64px;
    }

    &:hover {
        transition: 200ms ease;
        transform: scale(1.05);
    }

}

/*---------Detailed View------------*/

.detailed-view-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.25rem;
    z-index: 100;
}

.detailed-view-container {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

}

.detailed-view-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    a {
        color: #8a8a8a;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #c6c6c6;
        }
    }

    a{
        text-decoration: none;
    }
}

.detailed-view-image {
    max-height: 80vh;
    max-width: 80vw;
}