body {
    background: #272b30;
    color: #e4e4e4;
    font-family: "Noto Sans", sans-serif;
}

.app {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

form {
    display: flex;
    font-size: 22px;
    gap: 10px;

    input {
        font-size: 22px;
    }
    button {
        font-size: 18px;
        padding: 5px;
    }
}

.game-card-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    max-width: 80rem;
    text-align: center;
}

.game-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 220px;
    padding: 10px 0;
    gap: 10px;

    background-color: #131518;
    border: 2px solid #3b424c;
    border-radius: 10px;

    transition: 200ms ease;

    &:hover {
        transition: 200ms ease;
        transform: translateY(-5px);
    }
}

.game-card-title {
    width: 90%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-card-image {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid rgb(236 236 236 / 0.2);
}


/*----------------Images View----------*/

.game-view-title{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.image-view {
    text-align: center;
    background-color: #131518;
    width: 80vw;
    min-width: 700px;
    border-radius: 10px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 10px;
}

.images-view-image {
    border-radius: 20px;
    transition: 200ms ease;
    cursor: pointer;

    &.images-view-image-grids {
        height: 300px;
        width: 200px;
    }

    &.images-view-image-heroes {
        height: 155px;
        width: 455px;
    }

    &.images-view-image-icons {
        height: 64px;
        width: 64px;
    }

    &:hover {
        transition: 200ms ease;
        transform: scale(1.05);
    }

}

/*---------Detailed View------------*/

.detailed-view-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.25rem;
    z-index: 100;
}

.detailed-view-container {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

}

.detailed-view-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span,
    a {
        color: #8a8a8a;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #c6c6c6;
        }
    }

    a{
        text-decoration: none;
    }
}

.detailed-view-image {
    max-height: 80vh;
    max-width: 80vw;
}